#walrus-showing {
  display: none;
}
.clickable {
  cursor: pointer;
  color: #0088cc;
}
.clickable:hover {
  text-decoration: underline;
}
img {
width: 15cm;
}
.clickable2 {
  cursor: pointer;
  color: #922267;
}
.black-background {
  background-color: black;
  color: white;
}
.light-background {
  background-color: rgb(245, 227, 227);
  color: black;
}
